{% extends 'service/base_visitor.html' %}
{% block body %}
	<header>
	    <div class="container">
	        <div class="intro-text">
	        	<div class="intro-heading"><span style="color: red">Tender</span><span style="color: green">Care</span></div>
	            <div class="intro-lead-in">Stay at home, take enough rest. We are here, for your best.</div>
	            <div class="intro-lead-in"></div>
	            <div class="intro-heading">Your Health Matters</div>
	        </div>
	    
	</header>
	<center>
		<section id="services">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2 class="section-heading">
							SERVICES
						</h2>
					</div>
				</div>
				<div class="row service-box">
					<div class="col-md-3">
						<img src="../../media/9.png" class="service-img">
						<h4 class="service-heading">ElderCare / BabySitter</h4>
						<p class="text-muted">If your loved ones need assistance with daily activities, <br> We will help you to give them the care and compassion they deserve.</p>
					</div>
					<div class="col-md-3">
						<img src="../../media/physiotherapist.png" class="service-img">
						<h4 class="service-heading">Physiotherapist</h4>
						<p class="text-muted">If you have back Pain, Sports Injuries, Paralysis, Parkinson's Disease, or any other physical pain. <br> We Will help you to recover from it.</p>
					</div>
					<div class="col-md-3">
						<img src="../../media/med.png" class="service-img">
						<h4 class="service-heading">Medicine</h4>
						<p class="text-muted">Upload your prescription.<br> We will analyse it.<br> and delivered at you doorstep within 24 hours.</p>
					</div>
					<div class="col-md-3">
						<img src="../../media/lab-test.png" class="service-img">
						<h4 class="service-heading">Lab Test / Vaccination</h4>
						<p class="text-muted">If you need Blood test, Diabetes test, H1N1 or any other lab test or vaccnation.<br> We will collect the sample from your doorstep.</p>
					</div>
				</div>

			</div>
		</section>
	</center>
{% endblock %}